PORT=3000
MONGODB_URI=mongodb://localhost:27017/DB_NAME

JWT_ACCESS_SECRET=4f738a58-cffe-4a60-b6d0-e0ec2eeb1a4a #RANDOM from https://www.uuidgenerator.net/
JWT_ACCESS_EXPIRES=15m

JWT_REFRESH_SECRET=32f8c000-d2dc-4dd7-a9e0-f1ebec2e400c #RANDOM from https://www.uuidgenerator.net/
JWT_REFRESH_EXPIRES=7d